{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  Create genre
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url }}genre/index">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Agregar genero</a>
    </li>
  </ul>

  <!-- Eso quiere decir que llama al controlador user e intenta ejecutar el método save -->
  <form action="{{ url }}genre/save" method="POST">
    <div class="row m-0 p-0 justify-content-center mt-4 mb-4">
      <div class="col-12 col-lg-4 col-md-5 col-sm-6 row justify-content-center">
        <div class="mb-3">
          <label for="genre" class="form-label">Id_genre</label>
          <!-- Cogerá el valor por la id del input -->
          <input type="text" class="form-control" id="id_genre" name="id_genre" aria-describedby="id_genre" />
          <div id="genre" class="form-text">Introduce genre.</div>
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="nombre" class="form-control" id="nombre" name="nombre" aria-describedby="nombre" />
          <div id="nombreLab" class="form-text">Escribe nombre.</div>
        </div>
        <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input type="text" class="form-control" id="cantidad" name="cantidad" aria-describedby="cantidad" />
          <div id="cantidadLab" class="form-text">Escribe cantidad.</div>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="precio" class="form-control" id="precio" name="precio" aria-describedby="precio" />
          <div id="precioLab" class="form-text">Introduce precio.</div>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </div>
  </form>
{% endblock %}
