{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  SHOW genre
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url }}genre/index">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url }}genre/create">Agregar genre</a>
    </li>
  </ul>
  
  <div class="row m-0 p-0 justify-content-center mb-3">
    <div class="col-12 col-lg-4 col-md-5 col-sm-6 row">
      <div class="mb-3">
        <label for="id_genre" class="form-label">Id_genre</label>
        <input type="text" class="form-control" id="id_genre" name="id_genre" value="{{ genre.id_genre }}" aria-describedby="id_genre" readonly />
      </div>
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="tipo" class="form-control" id="tipo" name="tipo" value="{{ genre.tipo }}" aria-describedby="tipo" readonly />
      </div>
    </div>
  </div>
{% endblock %}
