{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/error.twig' %}

{% block title %}
  ERROR 404!
{% endblock %}

{% block content %}
  <div class="mt-5 text-center">
    <h1 class="text-danger">ERROR 404</h1>
    <h3 class="mt-5">No se pudo encontrar la página.</h3>
  </div>
{% endblock %}
