{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/error.twig' %}

{% block title %}
  ERROR 500!
{% endblock %}

{% block content %}
  <div class="mt-5 text-center">
    <h1 class="text-danger">ERROR 500</h1>
    <h3 class="mt-5">
      Hubo un error a la hora de hacer la petición al servidor.
      <br /> Por favor, intentelo más tarde.
    </h3>
  </div>
{% endblock %}
