* {
  margin: 0;
}

/* Añade un min-width por lo que los elementos de dentro no se hacen más pequeños a partir de cierto
tamaño */
body {
  min-width: 280px;
}

/* Modifica el tamaño de los botones (sobre todo los de edit, eliminar y show) */
.btnSize {
  width: 4.96rem;
}

/* Pone los contenedores en el centro */
.contenedorCentro {
  width: 90%;
  font-size: 14px;
  margin-left: 5%;
  margin-bottom: 5%;
}

/* Modifica algunos estilos del BootStrap */
th {
  font-size: 16px;
}

.carritoLink:hover {
  background-color: #0087ffbd;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

/* Para que el footer esté siempre abajo */
.bodyColumn {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentColumn {
  flex: 1;
}

.footerAbsolute {
  min-height: 50px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

/* Decoración de los links de footer */
a.aNoDec {
  text-decoration: none;
  color: white;
}

a.aNoDecFollow {
  text-decoration: none;
  color: #39c8e2;
}

/* Quita los márgenes innecesarios */
.noMargin {
  margin: 0;
}

/* Estilo de userEmail */
.userEmail {
  list-style: none;
  margin-right: 5rem;
}

.loginAbsolute {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
}

/* Imagen del carousel */
.imgCarousel {
  height: 30rem;
}

.btnContactos {
  width: 6rem;
}

.cardSize {
  width: 18rem;
}

/* Tamaño lg */
@media only screen and (min-width: 992px) {
  /* Coloca el email (usuario iniciado) arriba del todo */
  .usuarioAbsolute {
    position: absolute;
    top: 1rem;
    right: 5rem;
  }

  /* Modifica constantemente el tamaño del tab */
  .sizeTab {
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
  }
}

/* Tamaño md */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Coloca el email (usuario iniciado) arriba del todo */
  .usuarioAbsolute {
    position: absolute;
    top: 1rem;
    right: 3.5rem;
  }

  /* Modifica constantemente el tamaño del tab */
  .sizeTab {
    width: 50%;
    margin-top: 4%;
    margin-left: 18%;
  }
}

/* Tamaño md */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* Coloca el email (usuario iniciado) arriba del todo */
  .usuarioAbsolute {
    position: absolute;
    top: 1rem;
    right: 3.25rem;
  }

  /* Cambia tamaño de la letra del contenido del footer */
  a.aNoDec {
    font-size: 15px;
  }

  /* Aprovecha el container del BootStrap para cambiar el tamano de la letra dentro de los elementos
  de la etiqueta */
  .container {
    font-size: 12.65px;
  }

  /* Modifica constantemente el tamaño del tab */
  .sizeTab {
    width: 50%;
    margin-top: 4%;
    margin-left: 28%;
  }
}

/* Tamaño sm */
@media only screen and (max-width: 576px) {
  .login {
    font-size: 10px;
  }

  /* Tamaño del input */
  input.login {
    width: 110%;
    margin-left: -5%;
  }

  /* Coloca el email (usuario iniciado) arriba del todo */
  .usuarioAbsolute {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  /* Cambia tamaño de la letra del contenido del footer */
  a.aNoDec {
    font-size: 15px;
  }

  /* Aprovecha el container del BootStrap para cambiar el tamano de la letra dentro de los elementos
  de la etiqueta */
  .container {
    font-size: 12.65px;
  }

  /* Pone el texto a la izquierda (footer) */
  .txtIzq {
    text-align: left !important;
  }

  /* Modificación del link de follow */
  a.aNoDecFollow {
    font-size: 12.65px;
  }

  /* Modifica constantemente el tamaño del tab */
  .sizeTab {
    width: 100%;
    margin-top: 10%;
    padding-right: 10%;
  }

  /* Espacio del usuario Email */
  .userEmail {
    margin-left: -1.5rem;
    margin-right: 2.5rem;
  }

  /* Agranda el espacio para pulsar el carro */
  .carritoLink {
    width: 3rem;
    text-align: center;
  }

  /* Cuando es lo suficientemente pequeño, se quita la letra del carrito */
  .txtCarrito {
    display: none;
  }

  /* Cambia el margin left originalmente puesto en la card (ms-5 del Bootstrap) */
  .cardSize {
    margin-left: 0px !important;
  }
}
