* {
  margin: 0;
}

body {
  background: linear-gradient(152deg, #380036 5%, #0cbabaf9 95%);
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  width: 5rem;
}

/* Tamaño lg */
@media only screen and (min-width: 992px) {
}

/* Tamaño md */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Tamaño sm */
@media only screen and (max-width: 576px) {
  .login {
    font-size: 10px;
  }

  input.login {
    width: 110%;
    margin-left: -5%;
  }
}
