* {
  margin: 0;
}

/* Estilo del body */
body {
  min-width: 280px;
  background: linear-gradient(152deg, #380036 5%, #0cbabaf9 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Modifica el tag de BootStrap para añadirle background */
.modal-content {
  background: linear-gradient(152deg, #267aa5 0%, #0cbabaf9 100%);
}

/* Tamaño sm */
@media only screen and (max-width: 576px) {
  .logRegister {
    font-size: 12px;
  }

  /* Aprovecha el btn de BootStrap para cambiar el tamaño de la letra dentro del botón */
  .btn {
    font-size: 12px;
  }

  .smallSizeForm {
    width: 128%;
    margin-left: -10%;
  }
}
