<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link href="assets/css/login.css" rel="stylesheet" />
    <title>Login</title>
  </head>

  <body class="vh-100">
    <!-- Grid que divide en 3 columnas el Login -->
    <div class="container mt-5">
      <div class="row justify-content-center row-cols-3">
        <div class="col-lg-3"></div>

        <div>
          <h1 class="text-center mt-5 text-white">Login</h1>

          <form action="http://localhost/2daw-clase/?controller=auth&action=doLogin" method="POST">
            <div class="m-0 p-0 mt-5 mb-4">
                <div class="mb-4 col-12">
                  <input type="email" class="form-control login" id="email" name="email" placeholder="Escribe email" aria-describedby="email" />
                </div>
                <div class="mb-5 col-12">
                  <input type="password" class="form-control login" id="password" name="password" placeholder="Escribe password" aria-describedby="password" />
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary col-sm-10 col-md-4 col-lg-2">Login</button>
                </div>
            </div>
          </form>
        </div>

        <div class="col-lg-3"></div>
      </div>
    </div>
  </body>
</html>
