{# Enlazar este fichero con la plantilla correspondiente #}
{% extends 'layouts/admin.twig' %}

{% block title %}
  Create Usuario
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs justify-content-end sizeTab">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{{ url }}users/index">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Agregar usuario</a>
    </li>
  </ul>

  <!-- action = URL?controller=user&action=save -->
  <!-- Eso quiere decir que llama al controlador user e intenta ejecutar el método save -->
  <form action="{{url}}users/save" method="POST">
    <div class="row m-0 p-0 justify-content-center mt-4 mb-4">
      <div class="col-12 col-lg-4 col-md-5 col-sm-6 row justify-content-center">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <!-- Cogerá el valor por la id del input -->
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" aria-describedby="nombre" required/>
          <div id="nombreLab" class="form-text">Escribe nombre.</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" aria-describedby="email" required />
          <div id="emailLab" class="form-text">Escribe email.</div>
        </div>
        <div class="mb-3">
          <label for="id_rol" class="form-label">Id_rol</label>
          <input type="number" class="form-control" id="id_rol" name="id_rol" placeholder="Id_rol" aria-describedby="id_rol" required />
          <div id="id_rolLab" class="form-text">Escribe Id_rol.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="password" required />
          <div id="passwordLab" class="form-text">Escribe password.</div>
        </div>
        <button type="submit" class="btn btn-primary col-4 col-sm-4 col-md-4 col-lg-3">Crear</button>
      </div>
    </div>
  </form>
{% endblock %}
